<ul>              
  <li><a class='close_menu' >Close</a></li>
  <li><a class='sel_dest' href='#/destination' class='close_menu' >Bangkok</a></li>
  <li><a class='sel_dest' href='#/destination' class='close_menu' >Bintan</a></li>
  <li><a class='sel_dest' href='#/destination' class='close_menu' >Phuket</a></li>
  <li><a class='sel_dest' href='#/destination' class='close_menu' >Sanya</a></li>
  <li><a class='sel_dest' href='#/destination' class='close_menu' >Shanghai</a></li>
</ul>

<script>
$(document).ready(function () {
	var x = setTimeout(function() {
	    $("#page_wrapper_btm").removeClass("makevisible");
	},200)
});
</script>