<div id='page_wrapper_btm' class='makevisible'>
  <div id='nav-block'>
    <div>
      <a href='#/'>Destination</a>
    </div>
    <div>
      <a href='#/'>Book</a>
    </div>
  </div>
</div>
<div id='ontop'>
  <ul ng-controller='ListDestCtrl'>
    <li ng-repeat='dest in listDest'><a  href='#/destination/{{dest}}'>{{dest}}</a></li>   
  </ul>
</div>
<script>
$(document).ready(function () {
	var x = setTimeout(function() {
	    $("#page_wrapper_btm").removeClass("makevisible");
	},100)
  var y = setTimeout(function() {
      $("#ontop").addClass("menuontop");
  },300)
});
</script>