<div id='page_wrapper_btm' class='makevisible'>
  <div id='nav-block'>
    <div>
      <a href='#/'>Destination</a>
    </div>
    <div>
      <a href='#/'>Book</a>
    </div>
  </div>
</div>
<div class='menuontop'>
  <ul ng-controller='ListBookCtrl'>
    <li ng-repeat='item in listBook'><a class='bookitem' href='#/booking/detail'>{{item}}</a></li>   
  </ul>
</div>
<script>
$(document).ready(function () {
	var x = setTimeout(function() {
	    $("#page_wrapper_btm").removeClass("makevisible");
	},100)
});
</script>